@font-face {
  font-family: Avenir;
  src: url('./fonts/Avenir-Book.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
  font-weight: 300;
}

.search-bar__input::placeholder {
  font-family: Avenir, sans-serif;
  color: #3d4e61;
}

.page {
  padding: 0 8px;
  box-sizing: border-box;
}

.search-bar {
  width: 100%;
}

.search-bar__input {
  width: 100%;
  box-sizing: border-box;
  outline: none;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.search-bar--big .search-bar__input {
  height: 70px;
  padding-left: 62px;
  font-size: 16px;
  margin: 20px 0;

  background-image: url(images/Search.svg);
  background-repeat: no-repeat;
  background-position: 26px center;
  background-size: 19px 19px;
}

.search-bar--small .search-bar__input {
  height: 42px;
  padding-left: 33px;
  font-size: 14px;

  background-image: url(images/Search.svg);
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 11px 11px;
}

.search-bar:hover .search-bar__input,
.search-bar:focus-within .search-bar__input {
  border-color: #d8d8d8;
  box-shadow: 0 2px 4px rgba(61, 78, 97, 0.1);
}
